!/administrator/components/com_jornadas/
!/administrator/language/en-GB/en-GB.com_jornadas.ini
/language/*
!/language/en-GB/
/language/en-GB/*
!/language/en-GB/
!/language/en-GB/en-GB.mod_jornadas.sys.ini
!/language/en-GB/en-GB.mod_jornadas.ini
*.DS_Store
/LICENSE.txt
/README.txt
/cache/
/cli/
/components/
/configuration.php
/htaccess.txt
/includes/
/index.php
/joomla.xml
/libraries/
/logs/
/plugins/
/robots.txt.dist
/templates/
/modules/*
/tmp/
/web.config.txt
/administrator/*
!/administrator/components/
/administrator/components/*
!/administrator/components/com_jornadas/
/administrator/*
!/administrator/modules/
/administrator/modules/*
!/modules/mod_jornadas/
/media/*
!/media/mod_jornadas/
!/docs/
!/images/jornadas/
/images/banners/
/images/index.html
/images/joomla_black.gif
/images/joomla_green.gif
/images/joomla_logo_black.jpg
/images/powered_by.png
/images/sampledata/
